.projects-container {
  background-color: #0a192f;
  width: 100vw;
  height: 100vh;
}

.projects-text-container {
  padding: 10em;
}

.projects-text-header {
  color: white;
  font-family: Roboto Mono;
  font-size: 40px;
}